<!--navbar-->
<div class="ui secondary menu">
  {{#if user}}
  <a href="/" class="active item">
    Kahoot
  </a>
  <a href="/api/kahoots" class="item">
    My Kahoots
  </a>
  <a href="/api/kahoots/addkahoot" class="item">
    Create Kahoot
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a href="/api/users/logout" class="ui item">
      Logout
    </a>
  </div>
  {{else}}
  <a href="/" class="active item">
    Kahoot
  </a>
  <div class="right menu">
    <a href="/api/users/login" class="item">Login</a>
    <a href="/api/users/register" class="item">
      Register
    </a>
  </div>
  {{/if}}
</div>