<div class="ui centered grid">
  <div class="six wide tablet six wide computer column">
    <form method="POST" action="/api/kahoots/addanswer/{{kahoot.id}}/{{question.id}}" class="ui form">
      <h1 class="ui medium header">Type an answer option for this question</h1>
      <span>Tick the small box if this answer option is correct</span>
      <div class="field">
        <textarea type="text" placeholder="type your question" name="reply" required id="answer-box">
        </textarea>
      </div>
      <button class="circular ui labeled icon left floated purple button">
        <i class="add icon"></i>
        Next Answer Option
      </button>
      <a href="/api/kahoots/addquestion/{{kahoot.id}}"
        class="circular ui right labeled icon right floated primary button">
        <i class="question icon"></i>
        Next Question
      </a>
    </form>
  </div>
</div>