<div class="ui centered grid">
  <div class="six wide tablet eight wide computer column">
    <form method="POST" action="/api/kahoots/addkahoot" class="ui form piled segment">
      <div class="field">
        <h1 class="ui center aligned header">Create a Kahoot</h1>
        <label>Title</label>
        <input type="text" name="title" placeholder="Add Title" required>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea type="text" placeholder="Please Describe this kahoot" name="description" required>
        </textarea>
      </div>
      <button class="circular ui fluid secondary button">Save</button>
    </form>
  </div>
</div>