<div class="ui centered grid">
  <div class="six wide tablet eight wide computer column">
    <form method="POST" action="/api/kahoots/addquestion/{{kahoot.id}}" class="ui form piled segment">
      <div class="field">
        <label>Type Question</label>
        <textarea type="text" placeholder="type your question" name="ask" required id="question-box">
        </textarea>
      </div>
      <button class="circular ui fluid yellow button">Click to continue</button>
    </form>
  </div>
</div>