<div class="ui tablet stackable  ordered steps">
  <a class="completed step">
    <div class="content">
      <div class="title">Kahoot Title</div>
      <div class="description">Kahoot title saved</div>
    </div>
  </a>
  <a class="completed step">
    <div class="content">
      <div class="title">Kahoot Description</div>
      <div class="description">Kahoot description saved</div>
    </div>
  </a>
  <a href="/api/kahoots/addquestion/{{kahoot.id}}" class=" active step">
    <div class="content">
      <div class="title">Add A Kahoot Question</div>
      <div class="description">Do you want to add questions to your kahoot now ?
      </div>
    </div>
  </a>
  <a class="disabled step">
    <div class="content">
      <div class="title">Play Kahoot</div>
      <div class="description">login or signup to play kahoot</div>
    </div>
  </a>
</div>